 signup-branch
:root{
    --fontFamily:"Roboto", serif;

    /* colors */
    --bgColor:rgba(71, 59, 240, 1);

    /* fontColor */
    --textColor:rgba(22, 28, 45, 1);
    
}
=======
:root {
    /* COLORS */
    --bg-color: #473BF0;
    --text-color: #161C2D;


     /* FONTS */
  --fontRoboto: "Roboto", sans-serif;
}

 
  
 main
